<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.MrKai77.loop</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>loop</string>
			</array>
		</dict>
	</array>
	<key>NSDockTilePlugIn</key>
	<string>LoopDockTile.plugin</string>
</dict>
</plist>
