<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://mrkai77.github.io/Loop/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>dvll25ZImYv+YmmHcYrYjUm3pGSJ+I9xQ5A2e/E4SH8=</string>
</dict>
</plist>
