:root {
    --accent-color: #98dfd7;
}

[data-theme='dark'] {
    --bg-color: #000;
    --text-color: #FFF;
    --primary-color: #BBB;
    --h1-color: #FAF7FF;
    --secondary-color: #888;
    --a-link: #98dfd7;
    --li-color: #a3a3a3;
    --button-bg-color: #333;
    --button-text-color: #FFF;
    --button-hover-bg-color: #444;
    --glass: #00000027;
    --button-hover-glow: #98dfd7b3;
}

[data-theme='light'] {
    --bg-color: #FFF;
    --text-color: #000;
    --primary-color: #000;
    --h1-color: #1b1920;
    --secondary-color: #666;
    --a-link: #58aba1;
    --button-bg-color: #000000;
    --button-text-color: #ffffff;
    --button-hover-bg-color: #e0e0e0;
    --glass: #ffffff2d;
    --button-hover-glow: #98dfd780;
    --li-color: #000000;
}

[data-theme='light'] .sun,
[data-theme='dark'] .moon {
    opacity: 1;
    transform: scale(1);
}

/* Global Styles */
body {
    font-family: -apple-system, Helvetica Neue, BlinkMacSystemFont, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
}

body,
html,
header,
footer,
.footer-content {
    transition: background-color 0.75s cubic-bezier(0.4, 0.0, 0.2, 1), color 0.75s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.header-title,
.theme-switcher {
    color: var(--text-color);
}

a {
    color: var(--a-link);
    text-decoration: none;
}

.header-links a {
    color: var(--secondary-color);
}

.releases {
    color: var(--h1-color);
    /* Change this padding up or down for release notes */
    margin-top: 50px;
}

/* Typography */
h1,
.h1-change {
    color: var(--h1);
    font-weight: 300;
}

.h1-change {
    font-size: 2.5em;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
    color: var(--primary-color);
    opacity: 0.8;
    white-space: pre;
    margin: 0 -5px 0;
    font-weight: 300;
}

li {
    color: var(--li-color);
    line-height: 40px;
}

.nf,
.bf,
.in,
.nm {
    font-size: 20px;
    font-weight: 400;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--bg-color);
    z-index: 1000;
    box-sizing: border-box;
}

.theme-switcher {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
}

.header-left,
.header-links,
.theme-switcher {
    display: flex;
    align-items: center;
}

.sun,
.moon {
    font-size: 24px;
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Links */
.header-left {
    display: flex;
    align-items: center;
}

.header-links {
    margin-left: 20px;
    flex-grow: 1;
}

.theme-switcher {
    margin-left: auto;
    margin-right: 10px;
}

.header-links a:not(.download) {
    order: 1;
    margin-left: 20px;
}

.download {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 12px;
    border-radius: 0.4rem;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    order: 2;
    margin-left: auto;
    margin-right: 20px;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.download:hover {
    box-shadow:
        0 2px 15px var(--glass),
        0 4px 20px var(--button-hover-glow),
        0 -1px 2px var(--button-hover-glow),
        -1px 0 2px var(--button-hover-glow),
        1px 0 2px var(--button-hover-glow);
}

.header-img {
    max-height: 60px;
    width: auto;
    margin-right: 20px;
}

/* Layout Adjustments */
.main-content {
    margin-top: 40px;
    padding: 5px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

/* Glass Effect */
.glass-effect {
    background-color: var(--glass);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* Footer Styles */
.footer-content {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background: var(--bg-color);
    color: var(--text-color);
    align-items: center;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.footer-section p {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--primary-color);
}

.footer-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-made p {
    text-align: left;
    margin: 0;
}

.footer-social {
    justify-content: flex-end;
}

.footer-social p {
    margin-top: 20px;
    color: var(--text-color);
}

.footer-social .social-icons {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer-social .social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer-icons a svg {
    height: 24px;
    width: auto;
    fill: var(--secondary-color);
}

.footer-icons a:hover svg {
    transform: scale(1.1);
    fill: var(--primary-color);
}

/* Add device and media query at the bottom */

@media (max-width: 748px) {

    .header-links a,
    .download {
        display: none;
    }

    .header {
        padding: 5px 15px;
    }

    .main-content,
    section {
        padding: 15px;
    }

    .h1-change {
        font-size: 1.8em;
    }

    .footer-base {
        padding-top: 10px;
    }

    .footer-icons {
        margin-top: 15px;
    }

    .footer-made,
    .footer-icons {
        padding: 0 10px;
    }

    body,
    p,
    li {
        font-size: 15px;
    }
}