:root {
    --bg-color: #FFFFFF;
    --primary-color: #000;
    --secondary-color: #666;
}

body {
    font-family: -apple-system, Helvetica Neue, sBlinkMacSystemFont, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 5px;
}

h1 {
    margin-top: 0px;
    margin-bottom: -20px;
    opacity: 0.9;
    font-weight: 300;
}

h3 {
    margin-top: 25px;
    opacity: 0.9;
    font-weight: 400;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

p {
    color: var(--primary-color);
    opacity: 0.8;
    white-space:pre;
    margin-top: -30px;
    margin-left: -25px;
    margin-bottom: -30px;
    font-weight: 300;
}

b {
    font-weight: 400;
}